.content, .content a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  font-size: 14px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titleLink {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 1.25em;
  width: max-content;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  transition: all 250ms ease-in-out;
}

.innerWrapper span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.innerWrapper svg {
  transition: all 250ms ease-in-out;
}

.titleLink:hover .innerWrapper, .content:hover .innerWrapper {
  transform: translateY(-1.25em);
  opacity: .75;
}

.titleLink:hover .innerWrapper svg, .content:hover .innerWrapper svg {
  transform: rotate(-45deg);
}

.description {
  opacity: .5;
}

.imageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  overflow: hidden;
  border-radius: 8px;
}
